html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
html {
  margin: 0;
  padding: 0;
}

.body-font {
  font-family: "Raleway", sans-serif;
}

.bg-nav {
  background-color: black;
  border-bottom: 1px solid gainsboro;
}

.brand-firstname {
  position: absolute;
  top: 12px;
  left: 85px;
}

.brand-surname {
  position: absolute;
  top: 30px;
  left: 76px;
}

.navbar-hover:hover {
  border-top: 2px solid white;
}

.brand-font {
  font-family: 'Dr Sugiyama', cursive;
  font-size: 3rem;
}

.intro-font {
  font-family: 'Dr Sugiyama', cursive;
  font-size: 6.4rem;
}

.font-size-up {
  font-size: 1.1rem;
}

.bg-1 {
  width: 100%;
  height: 100vh;
}

.photo-border {
  background-color: black;
  border-radius: 50%;
}

.fade-in {
  animation: 2s ease 1 fadeIn;
  -webkit-animation: 2s ease 1 fadeIn;
  -moz-animation: 2s ease 1 fadeIn;
  -o-animation: 2s ease 1 fadeIn;
  -ms-animation: 2s ease 1 fadeIn;
}

.fade-in-2 {
  animation: 4s ease 1 fadeIn;
  -webkit-animation: 4s ease 1 fadeIn;
  -moz-animation: 4s ease 1 fadeIn;
  -o-animation: 4s ease 1 fadeIn;
  -ms-animation: 4s ease 1 fadeIn;
}

.fade-in-3 {
  animation: 6s ease 1 fadeIn;
  -webkit-animation: 6s ease 1 fadeIn;
  -moz-animation: 6s ease 1 fadeIn;
  -o-animation: 6s ease 1 fadeIn;
  -ms-animation: 6s ease 1 fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon {
  color: black;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.icon:hover {
  color: #008cba;
  top: -5px;
}

.icon-cv, .btn-project-code {
  background: black;
  color: white;
  font-weight: bold;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.icon-cv:hover {
  background: #008cba;
  top: -5px;
}

.btn-project-code:hover {
  background: white;
  color: black;
  top: -5px;
}

.tile-container {
  position: relative;
  width: 25rem;
  height: auto;
  margin: 1rem;
  background-color: black;
}

.tile-border {
  border: 5px solid black;
  border-radius: 10px;
}

.tile-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
  border-radius: 4px;
}

.tile-container:hover .tile-overlay {
  opacity: 1;
}

.bg-black {
  background-color: black;
  color: white;
}

.text-black {
  color: black;
}

@media screen and (max-width: 62em) {
  .brand-firstname {
    left: 53px;
  }

  .brand-surname {
    left: 44px;
  }

  .intro-font {
    font-size: 5rem;
    padding-top: 2.65rem;
    text-align: center;
  }

  h2, h3 {
    font-size: 1.7rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 56em) {

}

@media screen and (max-width: 48em) {
  .bg-1 {
    height: 100%;
  }
}
